body {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
position: relative;
width: 1600px;
height: 2346px;
}

.header {
position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
border-color: #ECECEC;
}

.logo {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}

.web {
color: #2196F3;
}

.studio {
color: #000000;
}

.header-nav__list {
position: absolute;
width: 281px;
height: 16px;
left: 453px;
top: 32px;
}

.header-nav__link {
position: absolute;
width: 45px;
height: 16px;
left: 453px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}

.header-nav__list-item {
position: absolute;
width: 72px;
height: 16px;
left: 548px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;

}

.header-nav__list-item1 {
position: absolute;
width: 64px;
height: 16px;
left: 670px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}

.contact-mail {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}

.contact-tell {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}

.banner {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}

.banner-title {
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 280px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.banner-btn {
position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

